.btn{
    padding: 14px 39px;
    background-color: #FCB72B;
    border: 2px solid #FCB72B;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.btn:hover{
    color:#FCB72B ;
    background-color: white;

    border: 2px solid #FCB72B;
}
.btn:active{
    color:#FCB72B ;
    background-color: white;

    border: 2px solid #FCB72B;
}
