.comment{

    &__list{
        padding: 0;
        list-style: none;
        position: relative;

    }
    &__item{
        display: flex;
        align-items: center;
    }
    &__item + &__item{
        margin-top: 150px;
    }
    &__item:nth-child(even){

        flex-direction: row-reverse;


    }

    &__item:nth-child(even) &__img{
        transform: translateX(-115px);
        // flex-direction: row-reverse;


    }
    &__heading{
        margin: 0;
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #010102;

    }
    &__desc{
        margin: 0;
        margin-top: 24px;
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
    &__btn{
        margin-top: 40px;
    }
    &__img{
        transform: translateX(120px);
    }

}
@media only screen and(max-width:1140px) {

.comment{
    &__list{
        margin-top: 100px;
    }

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__left{
        max-width: 575px;
        text-align: center;
        margin-top: 64px;
    }
    &__item:nth-child(even){
        display: flex;
        flex-direction:column-reverse

    }
    &__item:nth-child(odd){
        display: flex;
        flex-direction:column-reverse

    }
    &__item:nth-child(odd) &__img{
        transform: translateX(50px);
    }





}

}
@media only screen and (max-width:750px) {

    .comment{

        &__item:nth-child(odd) &__img{
            transform: translateX(50px);
        }

    }


}