.hero{

    padding: 153px 0;
    background-image: url(../../images/hero-desktop-img.png);
    // background-image: url(../../images/desktop-line.png);
    background-size: cover;
    background-repeat: no-repeat;


    &__heading{

        max-width: 500px;
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
        // letter-spacing: -2.5px;
        color: #FFFFFF;
    }
    &__desc{
        max-width: 405px;
        font-family: 'Lexend Deca';
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
    }









}